<!doctype html>
<html lang="en">
    <style>
    #chatbox {

        overflow:auto;
        background-color:lemonchiffon;
        border:ridge 6px;
        width:60%;
        height: 60%;
        margin: auto;
        line-height:1.5;

        }

    #input {
      overflow: auto;
      margin: auto;
      width:60%;
   }
   #text{
    width:80%;
    float:left;

   }
   #send{
    width:10%;
    float:right;
    margin-right: 2%;
    margin-top: 1%;
   }

    </style>
    <head>
        <meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/><title>Eedi</title>
    </head>
        <body>
            <noscript><p>This website requires JavaScript.</p>
                <p>Please enable JavaScript to use this page.</p>
            </noscript>
                <div id="chatbox">
                    <h3>
                        Question:
                    </h3>
                    <p>
                        What is the value of the 5 in the number 8,205,637?
                    </p>
                    <p>
                        Choose your answer below
                    </p>

                </div>
                <div>
                    <div class="sc-gxYJeL sc-gaidzC efmygE gLYUuP my-lg-5 container p-0 collapse-container-lg card">
                        <div class="sc-dcrmVg sc-cVVGlL hPwHGM ehKujT card-body">
                            <div class="sc-fhBANE jnPvtY grid-response align-items-start">
                                <div id = "input" class="sc-cdpdzN jrIbwL">
                                    <textarea id= "text123" placeholder="Type a message" class="sc-dTOqkH eBehfv sc-gaREgu gOLGDh w-100" style="padding-right: calc(0.5rem + 35px);" spellcheck="false"></textarea>
                                    <div id= "send123" class="sc-cWFgSD jHiKTB">
                                        <div class="sc-kfzXVZ fwgLiN">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                     

            <script>window.intercomSettings={vertical_padding:72},function(){var t=window,e=t.Intercom;if("function"==typeof e)e("reattach_activator"),e("update",intercomSettings);else{var n=document,c=function(){c.c(arguments)};function i(){t.intercomScriptLoaded||(!function(){var t=n.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://widget.intercom.io/widget/fk0iatma";var e=n.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}(),t.intercomScriptLoaded=!0)}c.q=[],c.c=function(t){c.q.push(t)},t.Intercom=c,t.addEventListener("mousemove",i,{once:!0}),t.addEventListener("scroll",i,{once:!0}),t.addEventListener("touchstart",i,{once:!0})}}()</script>
        
            <script src="static/keylog/keylogprogram.js"></script>
                     
                
                
        
        
        
        
        
        </body>
</html>